<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Ninja</h1>
        </a>
        <p>A Net Ninja Site</p>
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="about">About page</a></li>
        <li><a href="create">New Blog</a></li>
         <li><a href="404">404</a></li>
    </ul>
</nav>